.inputform-with-register {
    width:400px;
    background-color: #E8F0FE;
}
#credenciales{
    color:white;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.labelform-with-register {
    width:4rem;
}
.parrafo_articulo{
    /* width: 10%; */
}
#articulo{
    margin: auto;
    padding: 0.5em;
    text-align: justify;
    background-color: white;
}
#imagen_articulo{
    width:100%;
}
.table{
    /* font-size: small; */
    height: 60vh;
    /* width: 60%; */
    padding:0;
    margin:auto;
}
#div-table {
    /* width: 100%; */
    height: 60vh;
    overflow:auto;
}
#div-datos{
    padding:1em;
}

#div-table-title {
    width:100%;
    overflow:auto;
}
#sidebar {
    /* background-color:white; */
    width:100%;
    height:60%;
}
.fecha {
    width:6.8em;
}
.hora {
    width: 6em;
}
.prof {
    width:4em;
}
#div-thead{
    width: 100%;
}
#span-fecha {
    font-weight: small;
}
td{
    font-weight: bold;
    font-size:medium;
    /* height:0.5vh;  */
}
tbody tr{
    font-family: 'Open Sans Condensed', sans-serif;
    height:1vh;
    font-size:medium;
}
/* tr td {
    height:1vh;
}  */
.ths {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: medium;
    position:sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

html{
    min-width: 576px;
}
#myCarousel {
    margin: auto;
    padding:0;
    /* width: 0%; */
}
.row_carousel {
}

.carousel{
    margin: auto;
    padding: 0;
}
.carousel-inner {
    height:600px;
    
}
.carousel-inner img {
    margin: auto;
    height: 50vh;
    padding:0%;
  }
#div_principal {
    padding:0;
}
#div_index1{
    background-color: white;
}
footer {
    padding-left: 0px;
    margin-left: 0px;
    background-color: #343A40 ;
}
#credenciales2{
    color:#D2D6D6;
}
/* .custom_layout {
    margin-left:0px;
} */
@media (max-width: 768px) {
    #sidebar {
        height: 50vh;   
        padding: 0%; 
    }
    #div-table {
        position: relative;
        width: 100%;
        height:50vh;
        padding:0;
        margin: 0;
    }
    #data2 {
        font-size: 8px;
    }
    .table {
        /* width: 90%; */
        height:60vh;
        margin: auto;
    } 
    .container {
        min-width: 576px;
    }
    
}
@media (max-width: 576px) {
    #sidebar {
        height: 50vh;
        width:auto; 
        padding:0;
        margin: auto;
    }
    #div-table{
        margin:auto;
        width:100%;
        height: 50vh;
    }
    .table {
        width: 90%;
        height:60vh;
        margin: auto;
    }
    #data2 {
        font-size: 8px;
    }
}

/* aqui va la sidebar de la pagina sismo */
.sidenav2, .sidenava-content {
    /* height: 100%; */
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#e6ffe6;
    /* overflow-x: hidden; */
    padding-top: 20px;
    margin-top: 0%;
  }
  
  .sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav2 a:hover {
    color: #f1f1f1;
  }
  .sismo-ul li{
      width:100%;
  }
  .main {
    padding: 10px 20px;
  }
  
  /* para la pagina quienes somos */
 body {
     background-color:	#F5FFFA;
 }
  .div-quienes{
    background-color:#ffffff;
  }
  /* @media screen and (max-height: 450px) {
    .sidenav2 {padding-top: 15px;}
    .sidenav2 a {font-size: 18px;}
  } */