{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Acuerdos{% endblock %}

{% block body%}
<div class='container div-quienes' style='height:400px; padding-top:3vh'>
    <h1>Acuerdos</h1>
    <img src="{% static 'sismologico/images/acuerdos/1.jpg' %}" alt="1.jpg">
    <p>El <b>Centro Nacional de Sismología</b>(CNS) a través  de  décadas de labor ininterrumpida, ha rubricado 
        múltiples acuerdos con instituciones nacionales  como internacionales vinculadas al sector y a la misión
         de la Universidad Autónoma de Santo Domingo (UASD).</p>
    <p></p>

   
</div>    
{% endblock %}