{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Definicion{% endblock %}

{% block body%}
<div class='container' style='height:400px; padding-top:4vh;background:white'>
<h4>Definicion</h4>
<img src="{% static 'sismologico/images/historia/1.jpg' %}" alt="1.jpg">

    <p>El CNS es la Institución Nacional con la responsabilidad del registro y 
        estudio de los terremotos en el país y de ofrecer las informaciones
        tiempo y con precisión a las autoridades y tomadores de decisión en
         caso de desastres cuando ocurren terremotos con incidencia nacional.</p>
    
</div>
{% endblock %}