{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Funciones{% endblock %}

{% block body%}
<div class='container' style='padding-top:4vh;background:white'>
<h4>Funciones</h4>
    <p>Investigación:</p>
    <p>La investigación en el campo
         sismológico es una de las funciones fundamentales del Centro.</p>
    <p>Líneas de Investigación. Tiene definidas tres líneas de investigación:</p>
    <ul>
        <li>Riesgo Sísmico en la República Dominicana.</li>
        <li>Riesgo de tsunami en la República Dominicana.</li>
        <li>Sismología y Tectónica.</li>
    </ul>
    <hr>
    <p>Extensión:</p>
    <p>Prevención de desastres causados por terremotos.</p>
    <p>El Centro imparte cursos, talleres, charlas, conferencias con el
         propósito de contribuir a establecer una cultura de prevención 
         de desastres causados por terremotos en la población dominicana. Además, organiza simposios, 
         reuniones científicas, seminarios, etc. Relativos a la problemática sísmica y de tsunami nacional
          y regional.</p>
    <p>Programa de asesoría técnica. El centro ofrece asesoría en materia sismológica e instrumental.</p>
    <p>Servicio de información a la población e instituciones públicas y privadas.</p>
    <hr>
    <p>Docencia.</p>
    <p>Asesoría de tesis de grado y de posgrado.</p>
    <p>Cursos extracurriculares en Ciencias de la Tierra, diplomados, etc.</p>
    <p>Posgrado.</p>
    <hr>
    <p>Registro y análisis de la sismicidad nacional, regional y mundial.</p>
    <p>El Centro también es el responsable del seguimiento continuo de la sismicidad nacional, ofrecer las
         informaciones sísmicas a tiempo y con la debida precisión a las autoridades y tomadores de
          decisiones en el caso de ocurrencia de un terremoto significativo en el país. Para esto es
           responsable del desarrollo, administración y mantenimiento de las redes sísmicas y Acelerográfica,
            y labora las 24 horas todos los días del año.</p>
    <p><b>Desarrollo y Mantenimiento de las redes para el registro continúo:</b></p>
    <p>Este trabajo se lleva a cabo a través de la sección de Instrumentación y Mantenimiento, la cual es 
        responsable de la instalación, reparación y mantenimiento de los equipos de las estaciones desplegadas
         en todo el territorio nacional y la estación central en Santo Domingo.</p>
    <p>También esta sección debe garantizar el registro continuo de la sismicidad nacional, regional y mundial.
         Estos registros son la base para realizar las investigaciones y obtener las informaciones que se
          ofrece al país.</p>
    <p><b>Análisis de los registros sísmicos.</b></p>
    <p>Esta función es realizada por la Sección de Análisis de Datos Sísmicos, la cual labora durante las 24
         horas todos los días del año, teniendo que determinar con la calidad debida y a tiempo las 
         informaciones de los terremotos, que el Centro ofrece a las autoridades y al país.</p>
    <hr>
    <p>Otras funciones del Centro.</p>
    <p>De acuerdo a la ley 147-02, el Centro es parte del Sistema Nacional de Prevención, Mitigación y 
        Respuesta ante Desastres y forma parte activa con funciones específicas de las diferentes instancias
         que lo conforman como son:</p>
    <ul>
        <li>Consejo Nacional de Prevención</li>
        <li>Mitigación y Respuesta ante Desastres</li>
        <li>Comisión Nacional de Emergencias</li>
        <li>Centro de Operaciones de Emergencias (COE)</li>
        <li>Comité Técnico Nacional</li>
        <li>Fondo Nacional de Prevención</li>
        <li>Mitigación y Respuesta ante Desastres</li>
    </ul>
    <p>Segundo punto focal del Sistema de alerta de Tsunami.</p>
    <p>Centro Nacional de Datos de conformidad con la Comisión Preparatoria para la Organización del Tratado
         de Prohibición Completa de Los Ensayos Nucleares, del cual República Dominicana es signataria.</p>
    <p>Aporta información para el sistema de alerta temprana de tsunami en el Caribe y a la Red Sísmica Mundial.</p>
    <br>
</div>
{% endblock %}