{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Historia{% endblock %}

{% block body%}
<div class='container' style='padding-top:4vh;background:white'>
<h4>Historia</h4>
    <p>En 1944, el informe No. 32 del Lic. Domingo Martínez Barrio, 
        encargado de la Sección de Sismología del Instituto Geográfico,
         recomendó la instalación de al menos 3 estaciones sismológicas
          en el país, incluyendo 1 estación central en Santo Domingo
           para la determinación de los parámetros de los terremotos.</p>
           <img src="{% static 'sismologico/images/historia/1.jpg' %}" alt="1.jpg">
    <p>A raíz de la ocurrencia del terremoto de 1946, el Gobierno Dominicano
         solicito ayuda a Los Estados Unidos de América, para realizar 
         evaluaciones. Como parte de las mismas se recomendó la instalación 
         e <b>La Estación Central Sismológica</b> en la Universidad de Santo Domingo
          (hoy Universidad Autónoma de Santo Domingo). La misma fue 
          concluida en 1948 y equipada con la instrumentación más moderna de
          a época, contando con una estación de periodo corto y una de
           periodo largo, ambas de 3 componentes.</p>

    <p>Dicha estación operó de manera individual hasta inicios de los 80’s,
         cuando se añadieron otras localizaciones de medición 
         en la geografía nacional.</p>

    <p>Se le dió la categoría de <b>Instituto</b> mediante la resolución del Honorable
         Consejo Universitario No. 244 de fecha 18 de septiembre de 1981. 
          De acuerdo a la ley 147-02 es parte del Sistema Nacional de
          Prevención, Mitigación y Repuesta ante Desastres.</p>

    <p>El <b>Centro Nacional de Sismología</b> surge como la nueva designación
         del Instituto Sismológico Universitario, mediante resolución No.
         2013-173 de fecha 14 de agosto del 2013 del Honorable Consejo
          Universitario, con funciones de extensión, investigación, y 
          difusión de las informaciones en el ámbito sismológico y
          actualización docente.</p>
         

</div>

{% endblock %}