{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Lineas{% endblock %}

{% block body%}
<div class='container' style=' padding-top:4vh;background:white'>
<h4>Lineas de Investigacion</h4>
    <p>Línea 1.- Riesgo sísmico en la República Dominicana.</p>
    <p>Esta línea comprende el estudio de la amenaza sísmica en el país, comportamiento de las ondas sísmicas,
         probabilidad de ocurrencia del fenómeno, los posibles efectos locales de amplificación de las ondas
          sísmicas, directividad, sobre el medio ambiente, etc. Además incluye el estudio de la vulnerabilidad 
          o posible impacto sobre las construcciones (e instituciones), la población y sus bienes.</p>
    <hr>
    <p>Programa 1.1: Amenaza sísmica en la República Dominicana</p>
    <p><b>Proyecto 1.1.1:</b> Análisis y Caracterización de los terremotos registrados ocurrida en la Rep. Dominicana 
        del 2005 al 2011 y de las fallas que los generaron (concluido con financiamiento interno).</p>
    <p><b>Proyecto 1.1.2:</b>Fuentes de terremotos, propagación y atenuación de las ondas sísmicas y las aceleraciones 
        del suelo en la R.D (En ejecución con fondos de; FONDOCYT del MESCYT).</p>
    <hr>
    <p>Línea 2.-Riesgo de Tsunami en la República Dominicana</p>
    <p>Esta línea comprende el estudio de la amenaza de tsunami a nivel local y regional, zonas de impacto de los 
        tsunamis en el país, probabilidad de ocurrencia del fenómeno y su impacto. También incluye el estudio de la 
        vulnerabilidad de las poblaciones y sus bienes frente a estos fenómenos.</p>
    <hr>    
    <p>Programa 2.1 Amenaza de tsunami en la República Dominicana</p>
    <p><b>Proyecto 2.1.1:</b>Amenaza de tsunami en las costas de Pedernales-República Dominicana y el Departamento del 
        Sudeste de Haití (IPGH).</p>
    <hr>
    <p>Línea 3. -Sismología y Tectónica</p>
    <p>Esta línea comprende la parte pura o teórica de la sismología y la tectónica en oposición a las otras 2 líneas
         que son líneas aplicadas. Incluye estudios a nivel local, regional y mundial.</p>
    <p><b>Proyecto 3.1.1:</b>Estructura y Anisotropías Sísmicas de la corteza terreste y procesos tectónicos en la
         parte norcentral de la placa del Caribe.(FONDOCYT)</p>
    <hr>
    <p>Otros Proyectos</p>
    <ol>
        <li>Proyecto de expansión de la Red Sísmica Nacional (OISOE).</li>
        <li>Fortalecimiento de la Red Sísmica Nacional para el seguimiento eficaz de los terremotos (Primera Etapa) 
            (Fondo de PMR).</li>
    </ol>
    <p>Estos proyectos son fundamentales para el desarrollo de la investigación sismológica en general.</p>
    <hr>
</div>
{% endblock %}