{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Proyectos{% endblock %}

{% block body%}
<div class='container' style='height:60vh; padding-top:4vh;background:white'>
<h4>PRINCIPALES PROYECTOS</h4>
    <p>A continuación se presentan dos proyectos que son fundamentales para el desarrollo de la
         investigación sismológica en general.</p>
    <ol>
        <li>Proyecto de expansión de la Red Sísmica Nacional (OISOE).</li>
        <li>Fortalecimiento de la Red Sísmica Nacional para el seguimiento eficaz de los 
            terremotos (Primera Etapa) (Fondo de PMR).</li>
    </ol>
    <img src="{% static 'sismologico/images/proyectos/1.png' %}" alt="1.png">
    <p></p>
    <p></p>
</div>
{% endblock %}