{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Quienes Somos?{% endblock %}

{% block body%}
<div class='container div-quienes' style='padding-top:3vh'>
    <h1>Quiénes somos?</h1>
    <p>El Centro Nacional de Sismología (antes Instituto Sismológico Universitario), es una dependencia de la
        Facultad de Ciencias de la Universidad Autónoma de Santo Domingo. Desde el año 1948 es la institución
        nacional con la responsabilidad del seguimiento a la sismicidad en el país y de la administración,
        desarrollo y mantenimiento de la Red Sísmica y Acelerográfica Nacional. Adquiere la calidad de 
        Instituto en el año 1981 y en el 2013 se le da la categoría de Centro Nacional.<br>
    Ha desarrollado y participado en diversos proyectos de investigación relativos a la problemática 
    sísmica y de tsunami en el país.</p>

    <p>Dispone de una infraestructura física y tecnológica. Cuenta además con profesionales a nivel de maestría en el área de Sismología e instrumentación sismológica y con técnicos de alto nivel, así como la estructura administrativa suficiente como soporte suficiente para el desarrollo exitoso de sus funciones.

    <p>El centro aprovecha los convenios y acuerdos que tiene la universidad con 
        universidades de varios países del mundo para contar con el apoyo de personal
        científico y técnico del más alto nivel y con grandes experiencias en el quehacer 
        científico, lo que le garantiza una efectiva transferencia de tecnología y aumento
        de su capacidad técnica y científica, así como la calidad de las investigaciones que lleva a cabo.</p>

    </p>
    <img src="{% static 'sismologico/images/quienes/img1.jpeg' %}" alt="img1">
    <img src="{% static 'sismologico/images/quienes/img2.jpg' %}" alt="img2">
    <img src="{% static 'sismologico/images/quienes/img3.jpg' %}" alt="img3">
    <img src="{% static 'sismologico/images/quienes/img4.jpg' %}" alt="img4">
    <img src="{% static 'sismologico/images/quienes/img5.jpg' %}" alt="img5">
    <img src="{% static 'sismologico/images/quienes/img6.jpg' %}" alt="img6">
 
    <h4>Misión:</h4>
    <p>Registrar y estudiar los fenómenos sísmicos en la República Dominicana, desarrollar investigaciones científicas, difundir nacional e internacionalmente información sísmica de la república dominicana, las investigaciones que realiza y los conocimientos que genera el instituto, realizar actividades de extensión que vinculen la sociedad con la universidad, a través de los servicios de promoción de la prevención sísmica, desempeñando su función con ética, rigor científico e intelectual.</p>


    <h4>Visión:</h4>
    <p>Ser la institución líder en investigación, información, orientación ciudadana y monitoreo de fenómenos sísmicos, en la República Dominicana, gestionado con eficiencia, acreditado y reconocido nacional e internacionalmente, por la calidad y excelencia de su infraestructura, recursos humanos, publicación de sus investigaciones y orientación a la ciudadanía, comprometidos con la producción de conocimiento científico e innovación tecnológica que contribuyan al desarrollo sostenible del país.</p>


    <h4>Valores:</h4>
    <ul>
        <li>Solidaridad</li>
        <li> Transparencia</li>
        <li> Rigor científico</li>
        <li> Excelencia</li>
        <li> Integridad</li>
        <li> Perseverancia</li>
        <li> Responsabilidad</li>
        <li> Servicio  </li>
    </ul>
</div>    
{% endblock %}