{% extends 'sismologico/layout.html' %}
{% load static %}
{% block title %}Registrarse{% endblock %}

{% block body%}
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div id='div-form-register' class='container'>
        <form class='h-50' method="POST">
            {% csrf_token %}
            <div class="mb-2 pt-3">
            <label for="user" class="labelform-with-register">Usuario</label>
            <input type="text" class="inputform-with-register rounded" name='username' id="username" >
            
            </div>

            <div class="mb-2 ">
            <label for="password" class=" labelform-with-register">Password</label>
            <input type="password" class=" inputform-with-register rounded" name='password' id="password">
            </div>

            <div class="mb-2">
                <label for="confirmation" class=" labelform-with-register">Confirmar Password</label>
                <input class=" inputform-with-register rounded" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    
{% endblock %}